@import '../../styles/vars';

.chart-container {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
}

.half-col {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chart-row {
	padding-left: 40px;
	display: flex;
	margin-bottom: 10px;
	align-items: center;

	@media (max-width: $bigScreen) {
		padding-left: 20px;
	}
	
	p {
		display: inline-block;
		margin-bottom: 0;
	}
}

.chart-row__color {
	min-width: 20px;
	height: 20px;
	max-height: 20px;
	margin-right: 20px;
	display: inline-block;

	@media (max-width: $bigScreen) {
		margin-right: 10px;
	}
}