@import '../../styles/vars';

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: $bigScreen) {
		padding: 0 10px;
	}
}

.main-container__flex {

	@media (min-width: $bigScreen) {
		display: flex;
	}
}

.input-container {
	border: 1px solid $black;
	padding: 15px;
	margin-right: 40px;

	@media (max-width: $bigScreen) {
		margin: 0 auto;
		margin-bottom: 30px;
		width: 60%;
	}
}

.output-container {
	flex: 1;
}

header {
	background: $black;
	padding: 10px;
	margin-bottom: 40px;
}

footer {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}