@import './styles/vars';
@import './styles/type';
@import './styles/toggle';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

html {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
		'Roboto', sans-serif;
	box-sizing: border-box;
	font-weight: 300;
	background-color: #fbcf4a;
}

body {
	margin: 0;
}

* {
	box-sizing: inherit;
}

.row {
	display: flex;
	text-align: center;
}

.cell {
	flex-basis: 16%;
}

em {
	font-style: normal;
	font-weight: 400;
	color: $black;
}

.red {
	color: #d82222;
}

p {
	margin: 0 0 10px 0;
}
