@import '../../styles/vars';

.row {

	.cell {
		padding: 5px 0;
		flex: 1;
		
		@media (max-width: 500px) {

			&:nth-child(n+4) {
				display: none;
			}

		}
	}

}

.row-header {
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	padding: 5px;
	margin-bottom: 10px;
}

.green {
	// color: #109e10;
	font-size: 19px;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	padding: 5px;
	margin-top: 5px;
}
